name: Lint Dockerfiles

on: [push, pull_request]

jobs:
  dockerlint:
    runs-on: ubuntu-latest
    name: Lint Dockerfiles
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run Hadolint
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: ./app/Dockerfile
