/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/* Wrapper Layout */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Main Content */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../assets/images/defineRole/index.png') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}

/* Heading */
h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #015c5d;
}

/* Role Buttons */
.role-buttons button {
  background-color: #015c5d;
  color: #fff;
  padding: 1rem 2rem;
  margin: 0.5rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.role-buttons button:hover {
  background-color: #017d7e;
}

/* Modal */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  width: 80%;
}

/* Close Button */
.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}